:root{
    --cor-padrao: green;
    --tamanho-padrao: 30px
}

h2{
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-padrao, 20px);
}

h3{
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-padrao, 20px);
}

p{
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-padrao, 20px);
}

span{
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-padrao, 20px);
}